@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@200&display=swap');
.social-media h3{
    font-size: 24px;
    margin-bottom: 80px;
    color: rgb(95, 43, 52);
}
.social-media ul {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%,-50%);
    display: flex;

}
.social-media ul li{
    list-style: none;
    margin: 0 15px;
}
.social-media ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .2s;
    color: rgb(255, 255, 255);
}
.social-media ul li a{
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(242,173,173,1) 10%, rgba(240,153,102,1) 100%);
    transition: 34ms;
    box-shadow: 0 5px 4px rgba(0,0,0, .5);
}
.social-media ul li a:hover {
    transform: translate(0, -10px);
    transition: .2s;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background: linear-gradient(90deg, rgba(246, 220, 235, 1) 0%, rgba(244, 152, 182, 1) 37%, rgba(249, 153, 171, 1) 100%);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}



.menu {
    position: absolute;
    top: 10px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}


.menu .navBar ul {
    font-size: 10px;
    list-style: none;
}

.menu .navBar ul li {
    position: relative;
    float: left;
}

.menu .navBar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navBar ul li a:hover {
    color: rgb(255, 0, 43);
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}
.menu .logo img {
   width: 200px;
}

.header-text {
    text-align: center;
}

.header-text h2 {
    font-size: 55px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.header-text h {
    margin-bottom: 10px;
    color: gray;
    text-transform: uppercase;
    font-size: 35px;
}
.btn-1 {
    display: inline-block;
    background-color: aquamarine;
    margin-top: 5px;
    padding: 25px;
    border-radius: 25px;
}

.btn-1:hover {
    background-color: blue;
}

@media(max-width: 991px) {
    .menu .logo img {
        padding-bottom: 90px;
        width: 70px;
    }
    .menu-icono {
        display: block;
        width: 20px;
    }

    .menu .logo {
        width: 30px;
    }

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navBar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(209, 148, 148);
        display: none;
    }

    .menu .navBar ul li {
        display: flex;

    }

    #menu:checked~.navBar {
        display: initial;
    }

    header {
        height: 60vh;
    }
}